/** @format */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  font-family: Poppins !important;
}
body {
  font-family: Poppins !important;
}
code {
  font-family: Poppins !important;
}
* {
  font-family: Poppins !important;
}

button,
a {
  cursor: pointer !important ;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}
.silver {
  background: linear-gradient(
    113deg,
    #b5b7bb -3.09%,
    rgba(216, 216, 216, 0.3) 100%
  );
}
.gold {
  background: linear-gradient(113deg, #b8860b -3.09%, #ecbd00 100%);
}
.platinum {
  background: linear-gradient(
    113deg,
    #61605e -3.09%,
    #494846 -3.08%,
    #939290 100%
  );
}
.diamond {
  background: linear-gradient(
    113deg,
    #437ff9 -3.09%,
    #4aa5f8 -3.08%,
    #6dcefc 100%
  );
}

.fade-entering {
  opacity: 0;
}

.fade-entered {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-exiting {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.flip-horizontal {
  --transform-scale-x: -1;
}

  .disabled_button {
    opacity: 0.6;
    cursor: not-allowed !important;
  }
