@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


html{
  font-family: Poppins !important;
}
body{
  font-family:  Poppins !important;
}
code{
  font-family:  Poppins !important;
}
*{
  font-family:  Poppins !important;
}

button {
  cursor:  po;
}

@layer utilities {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  
}
.silver{
  background: linear-gradient(113deg, #B5B7BB -3.09%, rgba(216, 216, 216, 0.30) 100%);
}
.gold {
background: linear-gradient(113deg, #B8860B -3.09%, #ECBD00 100%);}
.platinum{
  background: linear-gradient(113deg, #61605E -3.09%, #494846 -3.08%, #939290 100%);
}
.diamond{
  background: linear-gradient(113deg, #437FF9 -3.09%, #4AA5F8 -3.08%, #6DCEFC 100%);
}

.fade-entering {
  opacity: 0;
}

.fade-entered {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-exiting {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.flip-horizontal {
  --transform-scale-x: -1;
}