/** @format */

* {
  font-family: "Montserrat", sans-serif;
}


.sideBar{
  min-width: 250px;
  height: 110vh;
  position: static;
  z-index: 9999;
  transition: 0.1s;
}


.false-logo {
  display: flex;
  justify-content: center;
  margin: 10px;
  color: #0e155a;
  font-size: 1.8rem;
  padding-top: 5%;
  margin-bottom: 10%;
}

.false-menu-title {
  font-size: 16px;
  color: #0e155a;
  font-weight: 500;
  padding-left: 15px;
}

.false-side-menu {
  display: flex;
  padding: 10px 10px;
  align-items: center;
  margin: 25px 10px;
  cursor: pointer;
}







