/** @format */

@media (max-width: 768px) {
  .Nav_Bar header {
    align-items: flex-end;
    padding-left: 10px;
  }
  .Nav_Bar .left {
    width: 100px;
  }
  .Nav_Bar .right-container {
    gap: 10px;
  }
  .Nav_Bar .right-container img {
    width: 24px;
  }
  .Nav_Bar .right-container svg {
    width: 24px;
    height: 24px;
  }

  .Nav_Menu_Container{
    padding: 10px;
    border: none;
  }
  .Nav_Menu_Container ul {
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
  }
  .Nav_Menu_Container ul a{
    width: 31%;
    font-size: 14px;
    text-align: center;
  }

  /* ---------------- */
  .Home_Hero_Section .Hero_Imgl{
    display: none;
  }
  .Home_Hero_Section {
    padding-left: 20px  ;
    justify-content: flex-start;
  }
  .Home_Hero_Section .left-container h1 {
    font-size: 35px;
  }
  .Home_Hero_Section .left-container {
    justify-content: flex-start;
  }
  .Home_Hero_Section .left-container ul li {
    font-size: 16px;
  }
  .Home_Hero_Section .left-container button {
    font-size: 16px;
    margin-top: ;
  }
}
