/** @format */

@media (max-width: 768px) {
  .Nav_Bar header {
    align-items: flex-end;
    padding-left: 10px;
  }
  .Nav_Bar .left {
    width: 100px;
  }
  .Nav_Bar .right-container {
    gap: 10px;
  }
  .Nav_Bar .right-container img {
    width: 24px;
  }
  .Nav_Bar .right-container svg {
    width: 24px;
    height: 24px;
  }

  .Nav_Menu_Container {
    padding: 10px;
    border: none;
  }
  .Nav_Menu_Container ul {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .Nav_Menu_Container ul a {
    width: 31%;
    font-size: 14px;
    text-align: center;
  }

  /* ---------------- */
  .Home_Hero_Section .Hero_Imgl {
    display: none;
  }
  .Home_Hero_Section {
    padding-left: 20px;
    justify-content: flex-start;
    height: auto;
  }
  .Home_Hero_Section .left-container h1 {
    font-size: 35px;
  }
  .Home_Hero_Section .left-container {
    justify-content: flex-start;
  }
  .Home_Hero_Section .left-container ul li {
    font-size: 16px;
  }
  .Home_Hero_Section .left-container button {
    font-size: 16px;
    margin-top: 40px;
    margin-left: 0;
  }
  /* ---------------------------- */
  .Service_Glass_Section .Heading {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: normal;
  }

  /* ------------------ */
  .Home_Two_Sec {
    display: block;
  }
  .Home_Two_Sec .img-container {
    width: 100%;
    height: auto;
  }
  .Home_Two_Sec .title {
    font-size: 25px;
  }
  .Home_Two_Sec .content {
    font-size: 20px;
    line-height: normal;
    text-align: justify;
    width: 100%;
    margin-bottom: 10px;
  }
  .Home_Two_Sec .content_container {
    padding: 0;
    padding: 10px;
  }
  .Home_Two_Sec .content_container .description {
    font-size: 16px;
    line-height: normal;
    text-align: justify;
  }
  .Home_Two_Sec button {
    width: 90%;
    font-size: 20px;
    margin-top: 20px;
  }

  /* --------------------- */

  .Home_Three_Sec h1{
    font-size: 25px;
  }
  .Home_Three_Sec .content{
    width: 100%;
    font-size: 16px;
  }
  .NewsCard .title{
    font-size: 18px;
  }
  .NewsCard .desc{
    font-size: 14px;
  }
  .Home_Three_Sec .viewMore-Container{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .Home_Three_Sec .viewMore{
    width: 200px;
    font-size: 16px;
  }

  /* ------------------------ */
  .Footer-Container .upper_div {
    display: block;

  }
  .Footer-Container .upper_div .left-container{
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
  .Footer-Container .upper_div .follow_us {
    width: 60%;
    font-size: 16px;
  }
  .Footer-Container .upper_div .left-container .container img {
    width: 20px;
    height: auto;
  }
  .Footer-Container .upper_div .center_div {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .Footer-Container .upper_div .logo {
    width: 100px;
  }

  .Footer-Container .Mid_Container {
    flex-wrap: wrap;
  }
  .Footer-Container .Mid_Container .link_container{
    width: 100%;
  }
  .Footer-Container .Mid_Container .link_container .Linkss{
    width: 20%;
  }
}
