/** @format */

@media (max-width: 768px) {
  .Nav_Bar .left {
    width: 120px;
  }
  .Nav_Bar .right-container {
    gap: 10px;
  }
  .Nav_Bar .right-container img {
    width: 20px;
  }
  .Nav_Bar .right-container svg{
    width: 20px;
    height: 20px;
  }
}
