/** @format */

@media (max-width: 768px) {
  .Nav_Bar .Header {
    display: none;
  }
  .Nav_Menu_Container {
    display: none;
  }
  .bigEmptyLine {
    display: none;
  }
  /* ---------------- */
  .Home_Hero_Section {
    padding-left: 20px;
    justify-content: flex-start;
    height: auto;
  }
  .Home_Hero_Section .left-container h1 {
    font-size: 25px;
  }
  .Home_Hero_Section .left-container {
    justify-content: flex-start;
    z-index: 2;
  }
  .Checkout_Modal.ant-modal .ant-modal-content {
    padding: 20px;
  }
  .Home_Hero_Section .left-container ul li {
    font-size: 14px;
    /* color: #e5d896; */
    color: #e5d896;
    font-weight: 600;
    text-shadow: 1px 1px 1px #000;
  }
  .Home_Hero_Section .Image_container {
    top: 0;
  }
  .Home_Hero_Section .left-container button {
    font-size: 16px;
    margin-top: 40px;
    margin-left: 0;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .Home_Hero_Section .left-container ul {
    line-height: normal;
  }
  /* ---------------------------- */
  .Service_Glass_Section .Heading {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: normal;
  }

  /* ------------------ */
  .Home_Two_Sec {
    display: block;
  }
  .Home_Two_Sec .img-container {
    width: 100%;
    height: auto;
  }
  .Home_Two_Sec .title {
    font-size: 25px;
  }
  .Home_Two_Sec .content {
    font-size: 20px;
    line-height: normal;
    text-align: justify;
    width: 100%;
    margin-bottom: 10px;
  }
  .Home_Two_Sec .content_container {
    padding: 0;
    padding: 10px;
  }
  .Home_Two_Sec .content_container .description {
    font-size: 16px;
    line-height: normal;
    text-align: justify;
  }
  .Home_Two_Sec button {
    width: 90%;
    font-size: 20px;
    margin-top: 20px;
  }

  /* --------------------- */

  .Home_Three_Sec h1 {
    font-size: 25px;
  }
  .Home_Three_Sec .content {
    width: 100%;
    font-size: 16px;
  }
  .NewsCard .title {
    font-size: 18px;
  }
  .NewsCard .desc {
    font-size: 14px;
  }
  .Home_Three_Sec .viewMore-Container {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .Home_Three_Sec .viewMore {
    width: 200px;
    font-size: 16px;
  }

  /* ------------------------ */
  .Footer-Container .upper_div {
    display: block;
  }
  .Footer-Container .upper_div .left-container {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
  .Footer-Container .upper_div .follow_us {
    width: 60%;
    font-size: 16px;
  }
  .Footer-Container .upper_div .left-container .container img {
    width: 20px;
    height: auto;
  }
  .Footer-Container .upper_div .center_div {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .Footer-Container .upper_div .logo {
    width: 100px;
  }

  .Footer-Container .Mid_Container {
    flex-wrap: wrap;
  }
  .Footer-Container .Mid_Container .link_container {
    width: 100%;
  }

  .Footer-Container .Down_Div {
    display: block;
    text-align: center;
    margin-top: 20px;
  }

  /* ------------------- */

  .Backward_Heading img {
    width: 30px;
  }
  .Backward_Heading p {
    font-size: 25px;
  }

  /* ----------- */
  .forget-password {
    max-width: 90%;
    padding: 20px;
  }
  .forget-password div p {
    font-size: 16px;
  }
  .forget-password button {
    font-size: 14px;
    width: 120px;
  }
  .forget-password button.verify {
    font-size: 14px;
    width: 150px;
  }
  .forget-password .password-for span {
    text-align: center;
  }
  .forget-password .title {
    font-size: 20px;
  }
  .forget-password div input {
    padding: 8px;
  }
  /* -------------- */
  .relative_product_container {
    height: 300px;
  }
  .relative_product_container .full_Image {
    height: 300px;
  }
  .relative_product_container .content h1 {
    font-size: 30px;
  }
  .relative_product_container .Image img {
    width: 40px;
  }
  .indivisual-product .left .multi-Images {
    justify-content: center;
  }
  /* ------------------- */
  .Category_Product_Container .Main {
    display: block;
  }
  .Category_Product_Container .Main h1 {
    font-size: 25px;
  }
  .Category_Product_Container .TItle_of {
    text-align: left;
    padding-left: 80px;
  }

  .Category_Product_Container .Main div {
    width: 90%;
    margin: auto;
    padding: 10px;
  }
  .Category_Product_Container .Item_Container {
    display: block;
  }
  .Category_Product_Container .Item_Container .left_container {
    display: none;
  }
  /* ------------ */
  .product_container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 20px;
  }
  .product_container .Item {
    width: 40%;
    display: block;
    height: auto;
  }
  .product_container .Item .Img-Container {
    width: 150px;
    height: auto;
    height: 150px;
  }
  .product_container .Item img {
    display: block;
    margin: auto;
    max-width: 100%;
    width: auto;
    max-height: 150px;
  }
  .product_container .Item h4 {
    font-size: 16px;
    margin-top: 10px;
  }

  /* ------------------- */
  .cart-container {
    display: block;
    margin-top: 0;
  }

  /* ------ */
  .contact-us .title {
    font-size: 25px;
    margin: 0;
    margin-top: 20px;
  }
  .contact-us .container {
    display: block;
    padding: 20px;
  }
  .contact-us .query_Section {
    width: 100%;
    margin-top: 20px;
  }
  .contact-us .Detail_Section {
    display: block;
  }
  .contact-us .Detail_Section .Img-C {
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  .About-us_section {
    display: block;
    padding: 20px;
  }
  .About-us_section .left-container {
    width: 100%;
    height: auto;
  }
  .About-us_section .Right_Section {
    width: 100%;
  }
  .About-us_section .Right_Section .title {
    font-size: 25px;
  }
  .About-us_section .Right_Section button {
    width: 100%;
    font-size: 20px;
    padding: 10px;
  }

  /* ------------------- */
  .MemberShip h1 {
    font-size: 25px;
    padding: 10px;
  }

  .MemberShip .container .card {
    margin-top: 20px;
  }

  .MemberShip .Cont {
    flex-wrap: wrap;
  }
  .membership_card {
    width: 100%;
  }
  .membership_card_header {
    display: block;
  }
  .membership_card_header .MemberShip h1 {
    margin: 0;
    padding-top: 0;
  }
  /* --------- */
  .Testimonial-Box {
    width: 100% !important;
    height: 100%;
    min-height: 463px;
  }
  .testimonial_container {
    width: 100%;
    display: block;
    margin: auto;
    padding: 20px;
  }
  .testimonial_slider {
    padding: 0;
  }

  /* ------------- */
  .query_Container button {
    display: block;
    margin: auto;
  }
  .Home_Hero_Section .Image_container {
    width: 200px;
    height: 100%;
    /* height: 246px; */
    z-index: 1;
    position: auto;
  }

  .isBrand_container {
    width: 100%;
    height: 200px;
  }
  .Brand_Container {
    width: 100%;
  }

  .Description_Box {
    flex-wrap: wrap;
    padding: 20px;
  }
  .Description_Box .left_container {
    width: 100%;
    height: 200px;
  }

  /* ------------ */
  .payment_buttons_container {
    flex-wrap: wrap;
    padding: 20px;
  }
  .payment_buttons_container a {
    width: 100%;
  }
  .payment_buttons_container button {
    width: 100%;
  }

  /* ------------ */
  .purchase_payment_plan {
    padding: 0;
    padding: 20px;
  }

  /* --------------------- */
  .GiftCard_Container .Img_Container {
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 0;
  }
  .GiftCard_Container .Img_Container .text_Title {
    width: 100%;
  }

  /* -------------- */
  .Recommended_Product {
    padding: 10px;
  }
  .Recommended_Product .two_sec {
    flex-direction: column;
  }
  .Recommended_Product .title {
    text-align: center;
  }
  .Recommended_Product .content {
    width: 100%;
    text-align: center;
  }
  .Recommended_Product .tow_links {
    width: 100%;
  }
  /* ------------ */
  .Shop_Menu_Container {
    display: none;
  }
  /* ------------- */

  .Heading_Container_Second img {
    width: 50px;
  }
  .Heading_Container_Second .img-container {
    left: 0;
  }
  .Heading_Container_Second h1 {
    font-size: 25px;
    margin: 0;
    padding-top: 70px;
  }
  .Check_Ingredeints {
    flex-wrap: wrap;
    padding: 20px;
  }
  .Check_Ingredeints .left_container {
    width: 100%;
  }
  .Check_Ingredeints .left_container .list {
    flex-wrap: wrap;
    text-align: center;
    gap: 20px;
  }
  .Check_Ingredeints .left_container .list li {
    text-align: center;
    width: 100%;
  }
  /* ------------ */
  .Congratulation_Message .container {
    width: 100%;
    height: 25rem !important;
  }
  /* -------------------- */
  .Appointment_Selection .boxes .Item {
    width: 100%;
  }
  .Indivisual-Appointment form .gender_selection {
    /* justify-content: center; */
    flex-wrap: nowrap;
  }
  .Indivisual-Appointment form .gender_selection button {
    width: 80px;
  }
  .Indivisual-Appointment form .gender_selection button div {
    display: none;
  }

  /* -------------- */
  .schedule_1 {
    flex-wrap: wrap;
    padding: 10px;
  }
  .schedule_1 .left_div {
    width: 100%;
  }
  .schedule_1 .left_div .Menu_List {
    display: none;
  }
  .schedule_1 .left_div .title {
    margin: 0;
  }
  .schedule_1 .right_div {
    width: 100%;
  }
  .Backward_Heading {
    display: block;
  }
  .step_Heading div {
    width: 100%;
  }
  .step_Heading .title {
    width: 100%;
  }
  .service_details_page {
    padding: 20px;
  }
  .service_details_page .laser_heading {
    width: 100%;
    max-width: 100%;
    display: block;
  }
  .service_details_page .laser_heading button {
    display: block;
    margin: auto;
  }
  .forget-password .otp {
    display: block;
  }
  .forget-password .otp div {
    width: 100%;
    margin-bottom: 10px;
  }
  .forget-password button {
    display: block;
    margin-left: auto;
  }
  .Indivisual-Appointment .title {
    display: block;
    text-align: left;
  }

  .indivisual-product {
    display: block;
  }
  .indivisual-product .left {
    width: 100%;
  }
  .indivisual-product .right {
    width: 100%;
    padding: 0;
  }
  .indivisual-product .Quantity_Container {
    width: 100% !important;
  }

  .indivisual-product .right .buttons button {
    width: 100% !important;
  }
  .frequently-bought .container {
    display: block;
  }
  .frequently-bought .container .left {
    width: 100%;
  }
  .frequently-bought .container .left .Image {
    width: 100px;
  }
  .frequently-bought .container .right {
    width: 100%;
    margin-top: 20px;
  }

  /* -------- */
  .cart-container {
    padding: 20px;
  }
  .cart-container .left-container {
    width: 100%;
  }
  .cart-container .left-container .Item .item-container {
    display: block;
    margin-top: 10px;
  }
  .cart-container .left-container .img-container {
    width: 100%;
  }
  .cart-container .left-container .content {
    width: 100%;
  }
  .cart-container .left-container .price_div {
    width: 100%;
  }
  .cart-container .right_container {
    margin-top: 50px;
  }
  .cart-container .left-container .price_div p {
    text-align: left !important;
  }
  .cart-container .frequently-bought .container {
    padding: 0;
  }
  .cart-container .FrequentlyInCart {
    padding: 0 !important;
  }
  .cart-container .FrequentlyInCart .container .right p {
    text-align: left;
  }
  .cart-container .FrequentlyInCart .container .right .Quantity {
    margin-left: 0;
  }
  .cart-container .FrequentlyInCart .container .right .Quantity .qty {
    justify-content: flex-start;
  }
  .cart-container .frequently-bought .container .delete {
    justify-content: flex-start;
  }
  .cart-container .delivery_container {
    display: block;
  }

  .cart-container .delivery_container div {
    margin-top: 20px;
  }

  .profile_div .heading {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  .profile_div .heading button {
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }

  .profile_div .Profile_Image {
    display: block;
    margin: auto;
    max-width: 120px;
    height: 120px;
  }
  .profile_div .two-sec {
    display: block;
  }
  .profile_div .button_Cont {
    display: block !important;
  }
  .profile_div .subscription .container {
    display: block;
  }
  .profile_div .subscription .left {
    width: 100%;
  }
  .profile_div .subscription .right {
    width: 100%;
  }
  .profile_div .subscription .right .two-sec {
    display: block;
  }
  .profile_div .subscription .two-btn {
    display: block;
  }
  .profile_div .subscription .two-btn button {
    margin-top: 20px;
    font-size: 16px;
  }
  .Offer_Banner .Hover_Element {
    width: 100% !important;
  }
  .Offer_Banner .Hover_Element h1 {
    font-size: 20px;
  }
  .Offer_Banner .Hover_Element .store {
    display: block;
  }
  .Offer_Banner .Hover_Element .close_btn {
    width: 25px;
  }
  .Offer_Banner .Hover_Element .store img {
    width: 150px;
    display: block;
    margin: auto;
  }
  .Quiz_Input_Handler {
    width: 100%;
    left: 0;
  }
  .Quiz_Input_Handler h1 {
    font-size: 25px;
  }
  .Quiz_Input_Handler .Input_Cont {
    width: 80%;
    padding: 20px;
  }
  .Quiz_Input_Handler .Input_Cont input {
    width: 100%;
  }
  .Quiz_Input_Handler .Input_Cont a {
    width: 100%;
  }
  .Quiz_Input_Handler .Input_Cont button {
    width: 100%;
  }

  /*  */
  .Mobile_Bar {
    display: flex;
  }
  .top-header-container {
    display: none;
  }

  /* ------------- */
  .service-card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
  }
  .service-card .Component {
    width: 42%;
  }
  .service-card .Component .Items {
    height: 300px !important;
    cursor: pointer;
  }
  .service-card .Component .Items .Title {
    font-size: 20px;
    text-align: center;
    line-height: normal;
  }
  .service-card .Component .Items .Normal_Title {
    font-size: 20px;
    text-align: center;
    line-height: normal;
  }

  .Acne_Quiz_Container .Title {
    font-size: 25px;
  }

  .Acne_Quiz_Container .Question_title {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .Gallary_Slider {
    display: block;
  }

  .Picture_Comp {
    display: none;
  }

  .Hide_Laptop {
    display: block;
  }

  .product-reviews {
    padding: 10px;
  }
  .product-reviews__suptitle {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
  }
  .Product_Key_Ingredeints .container .Item .ingredients {
    max-width: 100%;
  }
  .Product_Key_Ingredeints .container .Item .Image_Container {
    max-width: 100%;
    margin-top: 20px;
  }
  .Bootom_Cormer {
    height: auto;
  }
  .user_product_order .Items {
    display: block;
  }
  .user_product_order .Items img {
    display: block;
    margin: auto;
  }
  .user_product_order .Items .content .Related_Product_Container {
    display: block;
  }
  .user_product_order .Items .content .Related_Product_Container .title {
    text-align: center;
  }
  .user_product_order .Items .content .Related_Product {
    display: block;
    text-align: center;
  }
  .service-upcoming-order .Items {
    width: 100%;
  }
  .user_product_order .Items .content .orderId {
    text-align: center;
  }
  .Spec {
    justify-content: center !important;
    gap: 10px !important;
  }
  .user_product_order .Items .content .button-container button {
    display: block;
    margin: auto;
  }
  .user_product_order .title_account_second {
    text-align: center;
  }
  .More-Question {
    display: block;
  }
  .More-Question .left {
    max-width: 100%;
    margin-top: 20px;
  }
  .Indivisual-Appointment form .gender_selection button p {
    font-size: 12px;
  }
  .product-reviews .container .giveReview button {
    display: block;
    margin: auto;
    margin-top: 20px;
  }
  .cartCountDiv span {
    width: 20px;
    height: 20px;
  }
  .drop_Down_Container {
    width: 100%;
  }
  .service_details_page .backImage {
    height: 200px;
  }
  .Description_Box h1 {
    font-size: 20px;
    line-height: normal;
  }
  .Description_Box p {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: normal;
  }
  .about-us-container .last-hr {
    margin-bottom: 0;
  }

  .Brand_Container h3 {
    text-align: center;
  }
  .memn_in_mobile {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px !important;
    text-align: justify !important;
    padding: 20px;
  }

  .GiftCard_Container .gift_card_image {
    width: 100%;
    height: 200px;
  }

  .multi-product .Item {
    width: 160px;
  }
  .multi-product .Item .thumbnail {
    width: 160px;
    height: 160px;
    margin-bottom: 20px;
  }
  .multi-product .Item .thumbnail img {
    width: 160px;
    height: 160px;
  }

  .product_container .Item {
    width: 140px;
    /* display: block;
    margin: auto; */
  }
  .product_container .Item .thumbnail {
    width: 140px;
    height: 140px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  .product_container .Item .thumbnail img {
    width: 140px;
    height: 140px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  .memeber_notification img {
    display: none;
  }
  .memeber_notification a {
    width: 100%;
  }
  .Sub_Modal form .two_btn {
    flex-direction: column;
  }
  .Sub_Modal form .two_btn button {
    width: 100%;
    font-size: 14px;
  }
  .customer_fav .Item {
    width: 240px;
    display: block;
    margin: auto;
  }
  .customer_fav .Item .thumbnail {
    width: 240px;
    height: 240px;
    display: block;
    margin: auto;
  }
  .customer_fav .Item .thumbnail img {
    width: 240px;
    height: 240px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  .customer_fav .swiper-wrapper {
    min-height: 400px !important;
  }
  .animated_dropDown{
    right: 0;
    bottom: 0;
    top: auto;
  }
}
