/** @format */

.Backward_Heading {
  padding: 20px;
  display: flex;
  align-items: center;
}
.Backward_Heading img {
  width: 40px;
}
.Backward_Heading p {
  color: #042b26;
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  width: 80%;  
}

.Appointment_Selection{
    
}
