/** @format */

.Backward_Heading {
  padding: 20px;
  display: flex;
  align-items: center;
}
.Backward_Heading img {
  width: 50px;
  cursor: pointer;
}
.Backward_Heading p {
  color: #042b26;
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  width: 95%;
}

.Appointment_Selection {
  background: #042b26;
  padding: 50px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.Appointment_Selection .title {
  margin: 0;
  color: #fff;
  font-family: Poppins;
  font-size: 25px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.Appointment_Selection .boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
}
.Appointment_Selection .boxes .Item {
  width: 30%;
  background: #e5d896;
  padding: 20px;
}

.Appointment_Selection .boxes .Item img {
  width: 100px;
  display: block;
  margin: auto;
}
.Appointment_Selection .boxes .Item p {
  color: #042b26;
  text-align: center;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  margin-top: 20px;
}

.Indivisual-Appointment {
  background: #042b26;
  padding: 50px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.Indivisual-Appointment .title {
  color: #e5d896;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.Indivisual-Appointment form {
  width: 80%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.Indivisual-Appointment form div p {
  color: #e5d896;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.Indivisual-Appointment form div input {
  width: 100%;
  padding: 10px;
  outline: none;
  margin-top: 10px;
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
.Indivisual-Appointment form div {
  margin-top: 20px;
}

.Indivisual-Appointment form div.check {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}
.Indivisual-Appointment form div.check input {
  width: 20px;
  height: 20px;
}
.Indivisual-Appointment form div.check p {
  text-align: left;
  margin: 0;
}
.Indivisual-Appointment form div.check div {
  margin-top: 0;
}
.Indivisual-Appointment form div.check div p.title {
  font-size: 20px;
}
.Indivisual-Appointment form div.check div p.desc {
  font-size: 18px;
  color: #fff;
}
.Indivisual-Appointment form .gender_selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.Indivisual-Appointment form .gender_selection img {
  width: 200px;
}
.Indivisual-Appointment form .Full_Image {
  width: 100%;
  margin-top: 50px;
}

.Indivisual-Appointment form button {
  width: 100%;
  padding: 10px;
  background: #e5d896;
  color: #042b26;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-top: 25px;
}


.step_Heading .title{
    width: 40%;
}
.step_Heading div{
    width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.step_Heading div p{
    font-size: 25px;
}
.schedule_1{
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-bottom: 20px;
}
.schedule_1 .left_div{
    width: 60%;
    border: 1px solid #000;
}
.schedule_1 .right_div{
    width: 40%;
}

.schedule_1 .left_div :where(.css-dev-only-do-not-override-pr0fja).ant-tabs .ant-tabs-tab-btn