.Backward_Heading{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 800px;
    align-items: center;
}
.Backward_Heading img {
    width: 40px;
}
.Backward_Heading p{
    color: #042B26;
text-align: center;
font-family: Poppins;
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 0;
}