/** @format */

.Backward_Heading {
  padding: 20px;
  display: flex;
  align-items: center;
}
.Backward_Heading img {
  width: 50px;
  cursor: pointer;
}
.Backward_Heading p {
  color: #042b26;
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  width: 95%;
}

.Appointment_Selection {
  background: #042b26;
  padding: 50px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.Appointment_Selection .title {
  margin: 0;
  color: #fff;
  font-family: Poppins;
  font-size: 25px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.Appointment_Selection .boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
}
.Appointment_Selection .boxes .Item {
  width: 30%;
  background: #e5d896;
  padding: 20px;
}

.Appointment_Selection .boxes .Item img {
  width: 100px;
  display: block;
  margin: auto;
}
.Appointment_Selection .boxes .Item p {
  color: #042b26;
  text-align: center;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  margin-top: 20px;
}

.Indivisual-Appointment {
  background: #042b26;
  padding: 50px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.Indivisual-Appointment .title {
  color: #e5d896;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.Indivisual-Appointment form {
  width: 80%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.Indivisual-Appointment form div p {
  color: #e5d896;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.Indivisual-Appointment form div input {
  width: 100%;
  padding: 10px;
  outline: none;
  margin-top: 10px;
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
.Indivisual-Appointment form div {
  margin-top: 20px;
}

.Indivisual-Appointment form div.check {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}
.Indivisual-Appointment form div.check input {
  width: 20px;
  height: 20px;
}
.Indivisual-Appointment form div.check p {
  text-align: left;
  margin: 0;
}
.Indivisual-Appointment form div.check div {
  margin-top: 0;
}
.Indivisual-Appointment form div.check div p.title {
  font-size: 20px;
}
.Indivisual-Appointment form div.check div p.desc {
  font-size: 18px;
  color: #fff;
}
.Indivisual-Appointment form .gender_selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.Indivisual-Appointment form .gender_selection img {
  width: 200px;
}
.Indivisual-Appointment form .Full_Image {
  width: 100%;
  margin-top: 50px;
}

.Indivisual-Appointment form button {
  width: 100%;
  padding: 10px;
  background: #e5d896;
  color: #042b26;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-top: 25px;
}

.step_Heading .title {
  width: 40%;
}
.step_Heading div {
  width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.step_Heading div p {
  font-size: 25px;
}
.schedule_1 {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-top: 20px;
  justify-content: space-between;
}
.schedule_1 .left_div {
  width: 60%;
}
.schedule_1 .right_div {
  width: 35%;
}

.schedule_1 .left_div .Menu_List {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
}
.schedule_1 .left_div .Menu_List li {
  color: #1e1e1e;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  padding-bottom: 10px;
}

.schedule_1 .left_div .Menu_List li:active,
.schedule_1 .left_div .Menu_List li:focus,
.schedule_1 .left_div .Menu_List li:hover {
  color: #042b26 !important;
  font-weight: 600;
  border-bottom: 1px solid #042b26;
}

.schedule_1 .left_div .title {
  color: #042b26;
  font-family: Poppins;
  font-size: 24px;
  margin-top: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.schedule_1 .left_div .Box {
  margin-top: 20px;
  margin-bottom: 20px;
}
.schedule_1 .left_div .Box .Item {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
  padding-top: 20px;
}
.schedule_1 .left_div .Box .Item p {
  margin: 0;
}
.schedule_1 .left_div .Box .Item input {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}
.schedule_1 .left_div .Box .Item p.title {
  font-size: 18px;
}
.schedule_1 .left_div .Box .Item p.desc {
  font-size: 16px;
  font-family: Poppins;
}
.schedule_1 .left_div .Box .Item .description-box {
  width: 70%;
}
.schedule_1 .left_div .Box .Item .price-Box {
  width: 20%;
  text-align: right;
}

.schedule_1 .left_div .Box .Item .description-box ul {
  list-style: disc;
  padding-left: 20px;
}
.schedule_1 .left_div .Box .Item .description-box ul li {
  font-size: 14px;
  font-family: Poppins;
}

.schedule_1 .right_div .Box {
  border: 1px solid #000;
  padding: 20px;
}
.schedule_1 .right_div .Box .two-sec {
  display: flex;
  align-items: center;
  gap: 20px;
}
.schedule_1 .right_div .Box .two-sec div p.title {
  color: #1e1e1e;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.schedule_1 .right_div .Box .two-sec img {
  width: 100px;
}
.schedule_1 .right_div .Box .Stars {
  display: flex;
  gap: 10px;
  align-items: center;
}
.schedule_1 .right_div .Box .Stars span {
  display: flex;
  gap: 5px;
}
.schedule_1 .right_div .Box .Stars span svg {
  color: #fcba03;
  font-size: 18px;
}
.schedule_1 .right_div .Box .Stars span {
  font-family: Poppins;
}

.schedule_1 .right_div .Box .two-sec .contact-info {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 5px;
}
.schedule_1 .right_div .Box .two-sec .contact-info svg {
  font-size: 14px;
}
.schedule_1 .right_div .Box .two-sec .contact-info p {
  margin: 0;
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
}
.schedule_1 .right_div .Box .locate_btn {
  width: 100%;
  padding: 10px;
  color: #0eab61;
  border: 1px solid #0eab61;
  font-family: Poppins;
  font-size: 18px;
  margin-top: 20px;
}

.schedule_1 .right_div .Box .Items {
  padding: 20px;
  border-top: 1px solid #000;
  margin-top: 20px;
  padding-left: 0;
  padding-right: 0;
}
.schedule_1 .right_div .Box .Items .two-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.schedule_1 .right_div .Box .Items .two-div p.head {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
}
.schedule_1 .right_div .Box .Items .two-div p.desc {
  font-size: 14px;
  font-weight: 500;
}
.schedule_1 .right_div .Box .Items .two-div p.delete {
  color: #fc0005;
  font-size: 14px;
  font-weight: 500;
}
.schedule_1 .right_div .book {
  background: #042b26;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
  color: #dbaa4b;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.schedule_1 .right_div .border-collapsed{
    height: 1px;
    width: 100%;
    border: 1px dashed #000;
    margin-top: 20px;
    margin-bottom: 20px;
}

.schedule_1 .right_div .Box .search-div {
    display: flex;
    gap: 10px;
    align-items: center;
    border: 1px solid #000;
    padding: 10px;
}
.schedule_1 .right_div .Box .search-div input {
    width: 100%;
    font-family: Poppins;
    outline: none;
    font-weight: 500;
    font-size: 16px;
}
.schedule_1 .right_div .Box .search-div svg{
    font-size: 20px;
    font-weight: bold;
}
.schedule_1 .right_div .Box .add-on {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.schedule_1 .right_div .Box .add-on .left .head{
    display: flex;
    gap: 10px;
}
.schedule_1 .right_div .Box .add-on .left .head .title{
    color: var(--Black, #000);
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 143.687%; /* 34.485px */
}