/** @format */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.profileImage {
  width: 60px;
  margin-right: 20px;
  cursor: pointer;
}

.logOutBtn {
  color: #19376d;
  padding: 5px;
  margin-right: 20px;
  border: 1px solid #19376d;
  transition: 0.5s;
}
.logOutBtn:hover {
  background-color: #19376d;
  color: #fff;
}

.loginbtn {
  border: 1px solid #041668;
  background-color: #041668;
  color: #fff;
  width: 100px;
  padding: 5px;
}
.sideItem {
  display: flex;
  gap: 6px;
  font-size: 16px;
  margin-top: 40px;
  cursor: pointer;
}
.DropdownDiv {
  text-align: center;
}
.dropDn {
  background-color: #041668 !important;
  border: 2px solid #041668 !important;
  margin-bottom: 15%;
}
.DropdownDiv .dropMenu {
  height: 100px !important;
  width: 190px !important;
  text-align: center !important;
}

.overflowCont {
  width: 100%;
  overflow: auto;
}

.headP {
  font-size: 1.6rem;
}
.false-sidebar-menu {
  border: 2px solid #a4c0ed;
  margin: 5%;
  background-color: #a4c0ed;
  padding: 15%;
  min-height: 500px;
  border-radius: 10px;
}

.ThemeDropDown {
  background-color: transparent !important;
  margin-left: 0 !important;
  margin-top: 20px;
}

.ThemeDropDown .dropDwn {
  background-color: transparent !important;
  color: #000;
  border: none;
  display: flex;
  gap: 10px;
  margin-left: 0px !important;
  align-items: center;
  font-size: 16px;
}
.ThemeDropDown .dropDwn:hover {
  color: #000;
}
.ThemeDropDown .dropDwn:focus {
  color: #000;
}

/* Dark Theme */
.darkTheme {
  background-color: #2c3236 !important ;
}
.darkTheme .false-sidebar {
  background-color: #2c3236;
}
.darkTheme .false-logo {
  color: #fff;
}

.darkNavbar .false-navbar {
  background-color: #2c3236;
}

.headingClose {
  display: flex;
  justify-content: space-between;
}
.headingClose p {
  font-size: 2rem;
}
.headingClose .fa-x {
  font-size: 1.4rem;
  cursor: pointer;
}

.false-sidebar .fa-x {
  display: none;
}

/* Login Modal */
.Login_Modal {
  padding: 20px;
  position: relative;
}
.Login_Modal .LoginModal_Head {
  text-align: center;
  margin: 0;
  background: rgba(41, 101, 255, 0.2);
  border-radius: 26.0663px;
  padding: 10px;
}
.Login_Modal .LoginModal_Head p {
  text-align: center;
  margin: 0;
  font-weight: 800;
  font-size: 16px;
  color: #041668;
}
.Login_Modal .Close_Btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 1.6rem;
}
.Login_Modal form {
  padding-top: 20px;
}

.Login_Modal button {
  width: 100%;
  background-color: #041668;
  color: #fff;
  border: 1px solid #041668;
  padding: 10px;
  border-radius: 5px;
}

/* ProfileModal */
.ProfileModal {
  padding: 0 !important;
}

.ProfileModal .ProfileDiv {
  display: flex;
}
.ProfileModal .ProfileDiv .Left_Cont {
  width: 40%;
}
.ProfileModal .ProfileDiv .Left_Cont img {
  width: 100%;
  border-radius: 5px 0px 0px 5px;
}
.ProfileModal .ProfileDiv .Right_Cont {
  width: 60%;
  padding: 20px;
}
.ProfileModal .ProfileDiv .Right_Cont .UpperDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ProfileModal .ProfileDiv .Right_Cont .UpperDiv i {
  font-size: 20px;
  cursor: pointer;
}
.ProfileModal .ProfileDiv .Right_Cont .UpperDiv p {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  color: #170f49;
}
.ProfileModal .ProfileDiv .Right_Cont .Down_Div {
  padding-top: 30px;
}
.ProfileModal .ProfileDiv .Right_Cont .Down_Div .Item {
  display: flex;
  border: 1px solid #979797;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
}
.ProfileModal .ProfileDiv .Right_Cont .Down_Div p {
  font-size: 15px;
  line-height: 19px;
  color: #979797;
  margin: 0;
}
.FundsModal {
  padding: 0 !important;
}
.FundsModal .headingClose {
  background-image: url("../public/Images/2.png");
  padding: 10px;
  border-radius: 5px 5px 0 0;
  color: #fff;
  justify-content: flex-end;
  gap: 30px;
}
.FundsModal table {
  border-radius: 10px;
}
.FundsModal .overflowCont {
  width: 90%;
  margin: auto;
}
.FundsTable {
  padding: 10px;
  margin-top: 20px;
  border: 1px solid black;
}
.FundsTable thead tr {
  border-radius: 10px;
}
.FundsTable thead tr th {
  background-color: #010c48;
  color: #fff;
  border-right: 1px solid #b0b0b0;
}
.FundsTable tbody tr td{
  border-right: 1px solid #b0b0b0;
}
.FundsTable tbody tr:nth-child(odd) {
  background-color: #b0b0b0;
}
.FundsTable tbody tr:nth-child(even) {
  background-color: #fff !important;
}

.PlaceOrderModal{
  padding: 0px  !important;
}

.PlaceOrderModal .headingClose {
  background-image: url('../public/Images/3.png');
  padding: 20px;
  width: 100%;
  background-size: cover;
  color: #010C48;
  gap: 30px;
  justify-content: flex-end;
}

.PlaceOrderModal form{
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 20px;

}
.PlaceOrderModal button {
  background-color: #B5AEFF;
  border: 1px solid #B5AEFF;
  border-radius: 0;
}
.PlaceOrderModal button:hover{
  background-color: #B5AEFF;
  border: 1px solid #B5AEFF;
}

@media (max-width: 768px) {
  .ProfileDiv {
    display: block !important;
  }
  .ProfileDiv .Left_Cont {
    display: none !important;
  }

  .ProfileDiv .Right_Cont {
    width: 100% !important;
  }
}




.floating-tooltip-2 {
	width: 96px;
	height: 80px;
	position: absolute;
	display: none;
	padding: 8px;
	box-sizing: border-box;
	font-size: 12px;
	color: #131722;
	background-color: rgba(255, 255, 255, 1);
	text-align: left;
	z-index: 1000;
	top: 12px;
	left: 12px;
	pointer-events: none;
	border: 1px solid rgba(0, 150, 136, 1);
	border-radius: 2px;
}