* {
  font-family: "Montserrat", sans-serif;
}


.false-navbar {
  width: 100%;
  background-color: #fff;
  height: 100px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding-right: 20px;
  transition: 0.2s;
  color: white;
  padding-left: 20px;
}
.false-navbar .hamber  {
 color: #041668;
  font-size: 1.4rem;
  cursor: pointer;
}
.darkNavbar .hamber {
  color: #fff;
}
.false-navbar .right{
  display: flex;
  gap: 20px;
}

.dropdown-button-search-1{
  display: flex !important;
  align-items: center !important;
  width: 250px !important;
  border: 2px solid #041668 !important;
  background-color: #041668 !important;
  padding: 5px !important;
  border-radius: 0px !important;
}



.me {
  display: none;
}
@media screen and (max-width: 1230px) {
  .me {
    display: flex;
  }
}

.false-right-nav > img {
  width: 35px;
}

.false-right-nav {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.false-right-nav > h3 {
  font-weight: 500;
  margin-left: -20px;
}

.true-navbar {
  width: 100%;
  background-color: rgb(198, 201, 226);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
  position: relative;
}

.icon-menu {
  padding-left: 10px;
  cursor: pointer;
}

@media screen and (max-width: 578px) {
  .false-right-nav {
    width: 200px;
  }

  .false-right-nav > img {
    width: 35px;
  }

  .false-right-nav > h3 {
    padding-left: 10px;
  }
}

* {
  outline: none;
}
.Search{
    background-color: transparent;
    border:  none;
}
.Search input[type = "search" ] {
   display: block;
   margin: auto;
}
.Search::placeholder{
    color: #fff;
    text-align: center;
}

