/** @format */

.homeS {
  height: 120vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.clear {
  margin-top: 30px;
  background-position: center;
  background-size: cover;
  margin: 10px;
  color: #000;
  min-width: 350px;
  min-height: 150px;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

.clear2 {
  margin-top: 30px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0tELXnJzIC-zvX4SPoOBBi8etmUGIunibdzA-GWXhRBxbk5leyegkt3ns1hvpahCl4PA&usqp=CAU");
  background-position: center;
  background-size: cover;
  margin: 10px;
  color: wheat;
  min-width: 350px;
  min-height: 150px;
  height: 150px;
  width: 400px;
}

.clearP {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
}
.homeS .Graph {
  width: 100% !important;
  height: 100% !important;
  max-width: 1500px !important;
  max-height: 100% !important;
  display: block;
  margin: auto;
}
.homeS #container {
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
}

.gridCont {
  display: flex;
  justify-content: center;
  gap: 200px;
  padding-top: 20px;
  position: absolute;
  top: 10%;
  left: 15%;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  z-index: 999;
}

.filterDiv {
  width: 100%;
  margin: 0;
  margin-top: 20px;
}

.clear .fa-x {
  position: absolute;
  top: 10px;
  cursor: pointer;
  right: 10px;
}
.clear2 .fa-x {
  position: absolute;
  top: 10px;
  cursor: pointer;
  right: 10px;
  color: #000;
}

.overflow_Table {
  overflow-y: auto;
  max-height: 300px;
}

.Content_Box {
  padding: 20px;
}
.Content_Box .head {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}
.Content_Box .div_Box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.Content_Box .div_Box .Item {
  padding: 10px;
  cursor: pointer;
  background: #f8fafc;
  border-radius: 4px;
  box-shadow: 0 0 3px 0 rgba(60, 72, 88, 0.15);
  padding: 20px;
  width: 350px;
  text-align: left;
}

.Content_Box .div_Box .Item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  transform: scale(1);
}

.Content_Box .div_Box .Item .fa-arrow-trend-up {
  color: #007a00;
}
.Content_Box .div_Box .Item .fa-arrow-trend-down {
  color: #cb0505;
}
.Content_Box .div_Box div p {
  margin: 0;
}
.Content_Box .div_Box div .title {
  font-weight: 600;
  text-transform: capitalize;
}
.Content_Box .div_Box div .price {
  font-weight: 900;
}

.Content_Box .div_Box div .percent {
  font-weight: 500;
}
.Content_Box .div_Box div .plus {
  color: #007a00;
}
.Content_Box .div_Box div .minus {
  color: #cb0505;
}
.Content_Box .div_Box .Item:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transform: scale(1.1);
}

.chertType {
  border: 1px solid #eee;
  max-width: 500px;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  align-items: center;
  border-radius: 10px;
}
.chertType p {
  margin: 0;
  cursor: pointer;
  color: #000 !important;
}
.darkChartType {
  border: 1px solid #eee;
  max-width: 500px;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  align-items: center;
  border-radius: 10px;
}
.darkChartType p {
  margin: 0;
  color: #fff !important;
  cursor: pointer;
}

.ChartContainer {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}
.ChartContainer div{
  width: 40%;
}